@{
    ViewData["Title"] = "Add a Movie";
}
<h1>@ViewData["Title"]</h1>

@model Movie


<form method="post">
    <input type="hidden" asp-for="MovieId" />
    <label asp-for="CategoryId">Category:</label><br>
    <select asp-for="CategoryId" required>
        <option value="">Select a Category</option>
        @foreach (Category cat in ViewBag.Categories)
        {
            <option value="@cat.CategoryId">@cat.CategoryName</option>
        }
    </select><br />
    <label asp-for="Title">Title:</label><br>
    <input asp-for="Title" required /><br>
    <label asp-for="Year">Year:</label><br>
    <input asp-for="Year" min="1888" required /><br>
    <label asp-for="Director">Director:</label><br>
    <input asp-for="Director"/><br>
    <label asp-for="Rating">Rating: </label><br />
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br />
    <label asp-for="Edited">Edited:</label><br>
    <input asp-for="Edited" type="checkbox" required/><br>
    <label asp-for="LentTo">Lent To:</label><br>
    <input asp-for="LentTo" /><br>
    <label asp-for="CopiedToPlex">Copied to Plex:</label><br>
    <input asp-for="CopiedToPlex" type="checkbox" required/><br>
    <label asp-for="Notes">Notes (25 characters max):</label><br>
    <textarea asp-for="Notes" rows="4" cols="50" maxlength="25"></textarea><br><br>
    <input type="submit" value="Submit">
</form>


<!--
<form method="post">
    <label asp-for="Category">Category:</label><br>
    <input asp-for="Category" required /><br>
    <label asp-for="Title">Title:</label><br>
    <input asp-for="Title" required /><br>
    <label asp-for="Year">Year:</label><br>
    <input asp-for="Year" required /><br>
    <label asp-for="Director">Director:</label><br>
    <input asp-for="Director" required /><br>
    <label asp-for="Rating">Rating: </label><br />
    <select asp-for="Rating" required>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br />
    <label asp-for="Edited">Edited:</label><br>
    <input asp-for="Edited" type="checkbox" /><br>
    <label asp-for="LentTo">Lent To:</label><br>
    <input asp-for="LentTo" /><br>
    <label asp-for="Notes">Notes (25 characters max):</label><br>
    <textarea asp-for="Notes" rows="4" cols="50" maxlength="25"></textarea><br><br>
    <input type="submit" value="Submit">
</form>
-->


<!--
<form action="/submit_movie" method="post">
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category"><br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="year">Year:</label><br>
    <input type="text" id="year" name="year"><br>
    <label for="director">Director:</label><br>
    <input type="text" id="director" name="director"><br>
    <label for="rating">Rating: </label><br />
    <select name="rating" id="rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br />
    <label for="edited">Edited:</label><br>
    <input type="checkbox" id="edited" name="edited"><br>
    <label for="lent_to">Lent To:</label><br>
    <input type="text" id="lent_to" name="lent_to"><br>
    <label for="notes">Notes:</label><br>
    <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br><br>
    <input type="submit" value="Submit">
</form>
-->
